<div class="row">
    <div class="col-sm-8 col-sm-offset-1" style="padding-top: 20px;">

        <form>
            <div class="form-group">
                <label for="js-new-user-first">First name</label>
                <input type="text" id="js-new-user-first" class="form-control" name="syphon-first-name">
            </div>
            <div class="form-group">
                <label for="js-new-user-last">Last name</label>
                <input type="text" id="js-new-user-last" class="form-control" name="syphon-last-name">
            </div>
            <div class="form-group">
                <label for="js-new-user-email">Email name</label>
                <input type="text" id="js-new-user-email" class="form-control" name="syphon-email">
            </div>
            <div class="form-group">
                <label for="js-new-user-pw">Password</label>
                <input type="password" id="js-new-user-pw" class="form-control" name="syphon-pw">
            </div>
            <div class="form-group">
                <label for="js-new-user-pw-again">Password (again)</label>
                <input type="password" id="js-new-user-pw-again" class="form-control" name="syphon-pw-again">
            </div>

        </form>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="button" class="btn btn-primary btn-block js-save">Save new user</button>
            </div>
        </div>

    </div>
</div>
