<div class="modal-header">
    <h4 class="modal-title">Delete confirmation</h4>
</div>


<div class="modal-body">
Are you sure you want to delete user # {{ id }}?
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-danger js-modal-delete">Yes</button>
    <button type="button" class="btn btn-default js-modal-cancel">Cancel</button>


    <div id="message-status" style="margin-top: 35px;"></div>
    <div id="" style="margin-top: 10px;">
        <h5 id="message-links"></h5>
    </div>
</div>

