<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="padding-top: 20px;">

        <form>
            <div class="form-group">
                <label for="js-new-text-pt">Português</label>
                <textarea id="js-new-text-pt" class="form-control" name="new-text-pt" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="js-new-text-en">English</label>
                <textarea id="js-new-text-en" class="form-control" name="new-text-en" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="js-new-text-tags">Tags (separate with a comma)</label>
                <input type="text" id="js-new-text-tags" class="form-control" name="new-text-tags">
            </div>
        </form>

        <div class="row" style="margin-top: 20px;">
        	<div class="col-sm-6 col-sm-offset-3">
            	<button type="button" class="btn btn-primary btn-block js-save">Save new text</button>
            </div>
        </div>

    </div>
</div>
