<div class="xtable-responsive">
    <table class="table table-striped table-condensed table-dashboard">

        <thead>
            <tr>
{#
                <th style="width: 4%">id</th>
#}
                <th style="width: 30%">pt</th>
                <th style="width: 30%">en</th>
                <th style="width: 20%">Author</th>
                <th style="width: 10%">Tags</th>
                <th style="width: 10%"></th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>

