
<canvas id="myChart" width="350" height="350" style="margin-top: 20px; margin-bottom: 25px;"></canvas>

<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <form action="/api/vulnerabilities/report" method="post" id="vuln-form">
            <input type="hidden" name="vuln" id="vuln" value="xxx">
            <button type="submit" class="btn btn-primary btn-block">Download file</button>
        </form>
    </div>
    <div class="col-sm-4" style="padding-right: 20px;">
        <button class="btn btn-primary btn-block" id="new-upload">Reset map</button>
    </div>
</div>

 
<div class="xtable-responsive">
    <table class="table table-striped table-condensed table-dashboard">

        <thead>
            <tr>
                <th style="width: 45%">Description</th>
                <th style="width: 30%">Vulnerability</th>
                <th style="width: 12%">Lat</th>
                <th style="width: 12%">Lon</th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>


