<td>
	Control #{{ id }}
</td>

{#
<td>
    {{ code }}
</td>

<td>
    {{ categoryData.contents.en }}
</td>

<td>
    {{ ownerData.firstName }} {{ ownerData.lastName }}
</td>


<td>
    {{ srid }}
</td>

<td>
    {{ fileData.name }}
</td>

<td>
    {{ ownerData.first_name }} {{ ownerData.last_name }}
</td>


#}

<td class="text-right">
    <button class="btn btn-primary btn-xs js-edit"><span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-danger btn-xs js-delete"><span class="glyphicon glyphicon-trash"></span>
    </button>
</td>

