<div class="xtable-responsive">
    <table class="table table-striped table-condensed table-dashboard">

        <thead>
            <tr>
            
                <th style="width: 50%"></th>

{#
                <th style="width: 5%">SRID</th>
                <th style="width: 10%">File</th>
                <th style="width: 10%">Owner</th>

                <th style="width: 23%">Name</th>
                <th style="width: 20%">Path</th>
                <th style="width: 20%">Tags</th>
                <th style="width: 18%">Uploaded At</th>
#}
                <th style="width: 10%"></th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>


</div>

