<div class="row">
    <div class="col-sm-6 col-sm-offset-1" style="padding-top: 20px;">

        <p style="margin-bottom: 0px;"><b>Step 2:</b> choose shape </p>
        <span style="font-size: 90%;">These are the shapes that have been added to the selected web map</span>

        <select style="margin-top: 10px;" class="form-control js-available-shapes">
            <option value="">&mdash;</option>
            {% for obj in items %}
                <option value="{{ obj['tableName'] }}" >{{ obj['tableName'] }}</option>
            {% endfor %}
        </select>

    </div>
    <div class="col-sm-5">
    </div>
</div>

<div id="choose-attribute-region"></div>

