{% import "nunjucks-macros.html" as macros %}
{% set numNullValues = countGeometries - count %} 



<div class="row" style="padding-left: 15px; padding-right: 15px;">
    <div class="col-sm-10 col-sm-offset-1" style="border-style:solid; border-radius: px; border-width: 1px; border-color: rgb(228, 228, 228);   padding: 20px 40px; margin-bottom: 50px; margin-top: 20px;">

        <p><b>Data overview:</b></p>
        {% if dataType == "int" or dataType == "real" %}

        <ul style="margin-bottom: 10px; padding-left: 30px;">
            <li>count: {{ count }} (number of not null values)</li>
            <li>minimum value: {{ min }}</li>
            <li>maximum value: {{ max }}</li>
        </ul>

        {% elif dataType == "char" %}

            {% if distinctWords %}

            <ul style="margin-bottom: 10px; padding-left: 30px;">
                <li><b>Count:</b> {{ count }} (number of not null values)</li>
                <li><b>Distinct words:</b></li>
                <ul>
                    {% for word in distinctWords %}
                    <li>
                        {% if word == undefined %}
                            <em style="color: gray;">NULL</em>
                        {% else %}
                            {{ word }}
                        {% endif %}
                        
                    </li>
                    {% endfor %}                
                </ul>
            </ul>

            {% else  %}

            <ul style="margin-bottom: 10px; padding-left: 30px;">
                <li><b>Count:</b> {{ count }} (number of not null values)</li>
                <li><b>Distinct words:</b> too many, sorry! (the column must have at most 12 distinct words to be used in a legend, because the color scales have at most 12 colors)</li>
            </ul>

            {% endif %}

        {% endif %}



        {% if scale != false %}

        <p><b>Color classes:</b></p>

        <div  style="padding-left: 15px;">
        <table class="table table-bordered">

            <thead>
                <tr>
                    <th  style="width: 25%" class="text-center">
                        
                    </th >
                    <th  style="width: 25%" class="text-center">
                        
                    </th >

                    <th  style="width: 30%" class="text-center">
                        color
                    </th>

                    <th  style="width: 20%; padding: 4px 12px 4px 12px;" class="text-center">
                        color (hex code)
                    </th>

                </tr>
            </thead>

            <tbody>

                
                {% for class in scale %}

                <tr>
                    <td class="text-center">
                        
                        <div class="form-group" style="margin-bottom: 0;">
                            <input type="text" id="left-extreme-{{loop.index}}" class="form-control js-classes-left-extreme" value="{{ class.valueClass[0] }}">
                        </div>

                    </td>

                    <td class="text-center">

                        <div class="form-group" style="margin-bottom: 0;">
                            <input type="text" id="right-extreme-{{loop.index}}" class="form-control js-classes-right-extreme" value="{{ class.valueClass[1] }}">
                        </div>

                    </td>

                    <td class="text-center" style="background-color: {{ class.colorHex }}; border: solid 1px rgb(215, 215, 215);">
                        &nbsp;
                    </td>

                    <td class="text-center">

                        <div class="form-group" style="margin-bottom: 0;">
                            <input type="text" class="form-control my-color-picker" value="{{ class.colorHex }}">
                        </div>

                        {#<input type="text" value="{{ class.colorHex }}" class="my-color-picker">#}
                    </td>


                </tr>

                {% endfor %}

            </tbody>

        </table>
        </div>

        <p><b>Color adjustments:</b></p>

        <div style="padding-left: 15px;" class="checkbox">
          <label>
            <input type="checkbox" value="" id="js-invert-colors" {{ "checked" if invertColors }}>
            Invert order
          </label>
        </div>

        <div style="padding-left: 15px;">
            <p style="display: inline-block; margin-right: 10px;">Lightness:</p>
            <div  class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="js-darken-colors">Darker</button>
                <button type="button" class="btn btn-default" id="js-brighten-colors">Brigther</button>
            </div>
        </div>
        
        <div style="padding-left: 15px; margin-top: 10px;">
            <p style="display: inline-block; margin-right: 6px;">Saturation:</p>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" id="js-desaturate-colors">Desaturate</button>
                <button type="button" class="btn btn-default" id="js-saturate-colors">Saturate</button>
            </div>   
        </div>

        <hr>
 

        {% endif %}

    </div>
</div>

<div id="code-region"></div>
