
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-8 col-sm-offset-2 " style="">
    	
		Mode:

		<div class="radio">
		    <label>
		        <input type="radio" name="menu-order-mode" value="maps"> 
		        Order maps (move a map to a new position)
		    </label>
		</div>

		<div class="radio">
		    <label>
		        <input type="radio" name="menu-order-mode" value="groups"> 
				Order groups of maps (move a whole group of maps, maintaining the order within the group)
		    </label>
		</div>



    </div>
</div>
<div class="row" style="margin-top: 0px;">
    <div class="col-sm-8 col-sm-offset-2 " style="">

        <button type="button" class="btn btn-primary" id="js-menu-add-group">New group</button>        
        <div id="mn-r-sortable-list"></div>





    </div>
</div>


<div class="row" style="margin-top: 40px;">
    <div class="col-sm-6 col-sm-offset-3">
		<button type="button" class="btn btn-primary btn-block" id="js-save-map-menu">Save</button>
    </div>
</div>