<div class="modal-header">
    <h4 class="modal-title">Add group</h4>
</div>


<div class="modal-body">
    <form>

        <div class="form-group">
            <label for="js-add-group-name">Name for the new group</label>
            <input type="text" class="form-control" id="js-add-group-name" name="add-group-name" autofocus>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary js-modal-add">Add</button>
    <button type="button" class="btn btn-default js-modal-cancel">Cancel</button>

    <div id="message-status" style="margin-top: 35px;"></div>
    <div id="" style="margin-top: 10px;">
        <h5 id="message-links"></h5>
    </div>
</div>
