<ul class="nav nav-tabs">

    <li role="presentation" class="active">
        <a href="#" class="js-dashboard-sep" data-tab-separator="shapes-all">All shapes</a>
    </li>
    
    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="map-menu">Menu order</a>
    </li>

    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="map-sequential">Sequential maps</a>
    </li>

    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="map-legends">Legends</a>
    </li>
    {##}

</ul>

<div id="maps-region"></div>