(EM DESENVOLVIMENTO)

<div class="row" style="margin-top: 20px;">
	<div class="col-sm-12">
		<button class="btn btn-primary js-new" disabled>New sequential map</button>
	</div>
</div>


<div class="xtable-responsive" style="margin-top: 20px;">
    <table class="table table-striped table-condensed table-dashboard">

        <thead>
            <tr>
                <th xstyle="width: 4%">Map name</th>
                <th xstyle="width: 30%">Map description</th>

                <th xstyle="width: 10%"></th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>




