

<link href="/static/bootstrap/3.3.5-original/css/bootstrap.css" rel="stylesheet" />

{# 
<link href="/static/bootstrap/bootstrap-override.css" rel="stylesheet" />  
<!-- <link href="/static/bootstrap/bootstrap-theme_3.3.1.css" rel="stylesheet" /> -->
#}

<link href="/static/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
<link href="/static/flag-icon/css/flag-icon-pt-gb.css" rel="stylesheet" /> 

{# avoid the messy details in main.css #}
{% if ctx.urlParam1 != "cartografia"  %}
<link href="/static/_css/main.css" rel="stylesheet" /> 
{% endif %}

{% include "includes/google-analytics.js" %}  
