{# NOTE: this macro is used only in the homepage #}

{# {% macro sectorBox(ctx, title, sectorDesc, sectorPath, sectorImg) %} #}
{% macro sectorBox(ctx, data) %}

<a href="/{{ lang }}/{{ data.sectorPath }}" style="text-decoration: none;">
	<div class="sector-box">
		<h4 class="text-center sector-title" >
			<span> {{ ctx.texts[data.title][lang] | upper }}</span>
		</h4>
		

		<!-- <img src="{{ ctx.files[sectorImg].fullPath }}" class="img-responsive img-thumbnail center-block" alt="Responsive image"> -->
		{{ ctx.texts[data.sectorImg][lang] }}  
		<p>{{ ctx.texts[data.sectorDesc][lang] }}</p>

	{#
		<div class="text-center">
			<a href="/{{ lang }}/{{ data.sectorPath }}" class="btn btn-info" style="padding: 4px 30px; letter-spacing: 1px; font-size: 0.9em;" role="button">
				{{ ctx.texts[6][lang] | upper }}
			</a>
		</div>
	#}
	</div>
</a>

{% endmacro %}